<div class="row">
  <div class="col-sm-12">
    <div class="text-right">
      <%= link_to 'New Category', new_category_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Slug</th>
          <th>Posts</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td><%= category.slug %></td>
            <td><%= category.posts.size %></td>
            <td>
              <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-default btn-sm' %>
              <%= link_to 'Delete', category_path(category), method: :delete, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @categories %>
  </div>
</div>
