<div class="row">
  <div class="col-sm-10">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag post.thumbnail_url, class: 'img-responsive img-thumbnail' %>
            <div class="caption">
              <h3>
                <%= link_to post.title, post_path(slug: post.category_slug, postname: post.postname) %>
                <br />
                <small>Published on: <%= post.created_at.to_date.to_s %></small>
              </h3>
              <hr />
              <p><%= truncate(strip_tags(post.body), length: 60) %></p>
              <div class="text-right"><%= link_to 'Read more...', post_path(slug: post.category_slug, postname: post.postname), class: 'btn btn-default' %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-2">
    <h4 class="h4">Categories</h4>
    <ul class="nav">
      <li class="<%= 'disabled' if params[:slug].blank? %>"><%= link_to 'All', root_path %></li>
      <% Category.all.each do |category| %>
        <li class="<%= 'disabled' if category.slug == params[:slug] %>">
          <%= link_to category.name, category_path(slug: category.slug) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
